<div class="container mx-auto p-4">
  <h1 class="text-2xl mb-4">Agregar Nueva Faena</h1>
  <form (ngSubmit)="crearFaena()">
    <div class="mb-4">
      <label class="block text-gray-700">Nombre</label>
      <input 
        type="text" 
        [(ngModel)]="nombre" 
        name="nombre" 
        required 
        class="border p-2 w-full" 
        [ngClass]="{ 'border-red-500': !nombre && submitted }" 
        (focus)="submitted = true" 
      />
      <small *ngIf="!nombre && submitted" class="text-red-500">Se debe llenar este campo</small>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700">Fecha de Inicio</label>
      <input 
        type="date" 
        [(ngModel)]="fechaInicio" 
        name="fechaInicio" 
        required 
        class="border p-2 w-full" 
        [ngClass]="{ 'border-red-500': !fechaInicio && submitted }" 
        (focus)="submitted = true" 
      />
      <small *ngIf="!fechaInicio && submitted" class="text-red-500">Se debe llenar este campo</small>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700">Fecha de Término</label>
      <input 
        type="date" 
        [(ngModel)]="fechaTermino" 
        name="fechaTermino" 
        required 
        class="border p-2 w-full" 
        [ngClass]="{ 'border-red-500': !fechaTermino && submitted }" 
        (focus)="submitted = true" 
      />
      <small *ngIf="!fechaTermino && submitted" class="text-red-500">Se debe llenar este campo</small>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700">Encargado</label>
      <input 
        type="text" 
        [(ngModel)]="encargado" 
        name="encargado" 
        required 
        class="border p-2 w-full" 
        [ngClass]="{ 'border-red-500': !encargado && submitted }" 
        (focus)="submitted = true" 
      />
      <small *ngIf="!encargado && submitted" class="text-red-500">Se debe llenar este campo</small>
    </div>
    <div class="flex justify-end">
      <button type="submit" class="bg-gray-800 text-white p-2 rounded">Agregar Faena</button>
    </div>
  </form>
</div>

  